.FormLayout{
	
	width:100%;
	height:auto;
	background-color: #e6f9ff;
	display: inline-block;
	
}
.Layout1{
	width:40%;
	margin:auto 0% auto 10%;
	display: inline-block;
	float:left;
	
}
.Layout1 h2{
	color: #4da6ff;
}
.Layout1 h4{
	color: #4da6ff;
}

.Layout2{
	width:40%;
	margin-top: 4%;
    margin-left: 10%;
    margin-right: 0%;
	display: inline-block;
	float:right;
}

.DateFeild1
{
	    background-color: black;
}

table, th, td {
    border: 1px solid black;
}
.FullSizeLayout{
	width:80%;
	margin:auto 10% auto 10%;
	display: inline-block;
	float:left;
}

th,td {
    height: auto;
}